PROXY_API_KEY=change-me
# ALLOW_INSECURE_API_KEY=1
# Optional overrides:
# QODER_HOME=/root/.qoder
# PLAIN_TEMPLATE_PATH=../worker/last-plain.sample.json
# QODER_HOMES=acc1=/root,acc2=/home/acc2
# QODER_WORKER_URLS=http://qoder-auth-worker:3020
# QODER_ACCOUNT_IDS=acc1,acc2
# QODER_MAX_INFLIGHT=4
